Repository se701team3/Forgettable, pull requests merged in 2022-04, with the labels that each got.

#345 [#233] Goal setting update
  backend/src/controllers/goal.controller.ts
  backend/src/controllers/user.controller.ts
  backend/src/models/goal.model.ts
  backend/src/routes/__test__/company.route.test.ts
  backend/src/routes/__test__/goal.route.test.ts
  backend/src/routes/__test__/user.route.test.ts
  backend/src/services/__test__/goal.service.unit.test.ts
  backend/src/services/goal.service.ts
Labels: backend, team-1

#353 #230 Add Streaks component
  forgettable-frontend/package.json
  forgettable-frontend/src/components/Streaks/Streaks.js
  forgettable-frontend/src/components/Streaks/Streaks.module.css
  forgettable-frontend/src/components/Streaks/react-calendar-heatmap/dist/styles.css
  forgettable-frontend/src/pages/home/Home.js
  forgettable-frontend/src/pages/home/Home.module.css
Labels: backend, frontend, future, team-4

#349 [#233] - Add Goal setting
  forgettable-frontend/package-lock.json
  forgettable-frontend/src/components/GoalSummary/GoalSummary.js
  forgettable-frontend/src/components/GoalSummary/GoalSummary.module.css
  forgettable-frontend/src/functions/dataUnmarshaller.js
  forgettable-frontend/src/pages/home/Home.js
  forgettable-frontend/src/services/index.js
Labels: feature, frontend, team-1

#356 [#234] Encounter Time Modified Pruning Settings - Frontend
  forgettable-frontend/src/pages/SettingsPage/SettingsPage.js
  forgettable-frontend/src/pages/SettingsPage/SettingsPage.module.css
  forgettable-frontend/src/services/index.js
Labels: team-3

#344 [#326] - Add feature to display company info
  forgettable-frontend/src/assets/icons/navbar/company.svg
  forgettable-frontend/src/components/CompanyCard/CompanyCard.js
  forgettable-frontend/src/components/CompanyCard/CompanyCard.module.css
  forgettable-frontend/src/components/NavBar/NavBar.js
  forgettable-frontend/src/functions/dataUnmarshaller.js
  forgettable-frontend/src/hoc/PageRouter/PageRouter.js
  forgettable-frontend/src/pages/CompanyListPage/CompanyListPage.js
  forgettable-frontend/src/pages/CompanyListPage/CompanyListPage.module.css
  forgettable-frontend/src/pages/CompanyListPage/mockData-company.js
  forgettable-frontend/src/pages/CompanyPage/CompanyPage.js
  forgettable-frontend/src/pages/CompanyPage/CompanyPage.module.css
  forgettable-frontend/src/pages/CompanyPage/mockData-company.js
  forgettable-frontend/src/pages/EditCompany/EditCompany.js
  forgettable-frontend/src/pages/EditCompany/EditCompany.module.css
  forgettable-frontend/src/services/index.js
Labels: feature, frontend

#359 [#347] - Search filter tests
  backend/src/services/__test__/encounter.service.unit.test.ts
  backend/src/services/__test__/person.service.unit.test.ts
  forgettable-frontend/src/components/PersonDrawer/__tests__/PersonDrawer.test.js
  forgettable-frontend/src/components/SearchFilterModal/__tests__/SearchFilterModal.test.js
  forgettable-frontend/src/components/SearchFilterModal/__tests__/__snapshots__/SearchFilterModal.test.js.snap
Labels: backend, frontend

#361 [#360] - Fixed labels nto showing on person card
  forgettable-frontend/package-lock.json
  forgettable-frontend/src/components/PersonCard/PersonCard.js
Labels: frontend
