Repository se701team3/Forgettable, pull requests merged in 2022-03, with the labels that each got.

#18 Update issue templates
  .github/ISSUE_TEMPLATE/issue-template.md
Labels: documentation

#43 Implement mongoose model encounter.model.ts
  backend/src/models/encounter.model.ts
Labels: backend

#42 Update mongoose model person.model.ts
  backend/src/models/person.model.ts
Labels: backend

#40 Add service to backend architecture
  backend/.eslintrc.json
  backend/src/controllers/person.controller.ts
  backend/src/models/person.model.ts
  backend/src/routes/person.route.ts
  backend/src/services/person.service.ts
Labels: set up, backend

#37 Implement mongoose model user.model.ts
  backend/src/models/user.model.ts
Labels: backend

#78 Add mui and enzyme dependencies
  forgettable-frontend/package-lock.json
  forgettable-frontend/package.json
Labels: set up, frontend

#79 Added colour.css file to src
  forgettable-frontend/src/colours.css
  forgettable-frontend/src/dark.css
  forgettable-frontend/src/light.css
Labels: UI/UX, frontend

#85 Set up mongodb memory server & supertest for testing
  README.md
  backend/.eslintrc.json
  backend/README.md
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/controller.types.ts
  backend/src/controllers/person.controller.ts
  backend/src/firebase-configs/firebase-config.ts
  backend/src/index.ts
  backend/src/models/encounter.model.ts
  backend/src/models/person.model.ts
  backend/src/models/user.model.ts
  backend/src/routes/__test__/person.route.test.ts
  backend/src/routes/person.route.ts
  backend/src/services/person.service.ts
  backend/src/utils/test/config.ts
  backend/src/utils/test/db-handler.ts
Labels: backend, api, testing

#80 Created Button component
  forgettable-frontend/src/components/CustomButton/CustomButton.js
  forgettable-frontend/src/components/CustomButton/CustomButton.module.css
  forgettable-frontend/src/index.tsx
  forgettable-frontend/src/reportWebVitals.ts
Labels: frontend, component

#90 NavBar Component
  forgettable-frontend/src/assets/icons/navbar/encounters.svg
  forgettable-frontend/src/assets/icons/navbar/homepage.svg
  forgettable-frontend/src/assets/icons/navbar/persons.svg
  forgettable-frontend/src/assets/icons/navbar/settings.svg
  forgettable-frontend/src/colours.css
  forgettable-frontend/src/components/NavBar/NavBar.js
  forgettable-frontend/src/components/NavBar/NavBar.module.css
Labels: frontend, component

#94 Add encounters/users routes, controllers, services
  backend/src/controllers/encounter.controller.ts
  backend/src/controllers/user.controller.ts
  backend/src/models/encounter.model.ts
  backend/src/models/user.model.ts
  backend/src/routes/encounter.route.ts
  backend/src/routes/index.ts
  backend/src/routes/person.route.ts
  backend/src/routes/user.route.ts
  backend/src/services/encounter.service.ts
  backend/src/services/user.service.ts
Labels: backend, api

#103 NavBar routing
  forgettable-frontend/package.json
  forgettable-frontend/src/App.test.tsx
  forgettable-frontend/src/components/NavBar/NavBar.js
  forgettable-frontend/src/components/NavBar/__tests__/NavBar.test.js
  forgettable-frontend/src/components/NavBar/__tests__/__snapshots__/NavBar.test.js.snap
  forgettable-frontend/src/components/PersonCard/__tests__/__snapshots__/PersonCard.test.js.snap
  forgettable-frontend/src/index.css
  forgettable-frontend/src/index.tsx
  forgettable-frontend/src/pages/encounters/encounters.js
  forgettable-frontend/src/pages/people/people.js
  forgettable-frontend/src/pages/settings/settings.js
Labels: frontend, component

#104 Person card (full ver) Part 2/2: Logic
  forgettable-frontend/.eslintrc.json
  forgettable-frontend/package-lock.json
  forgettable-frontend/package.json
  forgettable-frontend/src/components/PersonCard/PersonCard.js
  forgettable-frontend/src/components/PersonCard/PersonCard.module.css
  forgettable-frontend/src/components/PersonCard/__tests__/PersonCard.test.js
  forgettable-frontend/src/components/PersonCard/__tests__/__snapshots__/PersonCard.test.js.snap
  forgettable-frontend/src/functions/socialMediaIconConverter.js
Labels: feature, frontend, component

#108 Fix mongoose model doc reference types
  backend/src/models/encounter.model.ts
  backend/src/models/person.model.ts
  backend/src/models/user.model.ts
Labels: bug, backend, api

#105 Encounter card (full) component
  forgettable-frontend/package-lock.json
  forgettable-frontend/package.json
  forgettable-frontend/src/components/CustomButton/CustomButton.module.css
  forgettable-frontend/src/components/EncounterCard/EncounterCard.js
  forgettable-frontend/src/components/EncounterCard/EncounterCard.module.css
  forgettable-frontend/src/components/EncounterCard/__test__/EncounterCard.test.js
  forgettable-frontend/src/components/EncounterCard/__test__/__snapshots__/EncounterCard.test.js.snap
  forgettable-frontend/src/functions/helper.js
Labels: feature, frontend, component

#111 Create small ver. of person card PersonCardSummary
  forgettable-frontend/package-lock.json
  forgettable-frontend/src/Components/PersonCardSummary/PersonCardSummary.js
  forgettable-frontend/src/Components/PersonCardSummary/PersonCardSummary.module.css
  forgettable-frontend/src/Components/PersonCardSummary/__tests__/PersonCardSummary.test.js
  forgettable-frontend/src/Components/PersonCardSummary/__tests__/__snapshots__/PersonCardSummary.test.js.snap
  forgettable-frontend/src/components/EncounterCard/__test__/__snapshots__/EncounterCard.test.js.snap
  forgettable-frontend/src/components/PersonCard/PersonCard.js
  forgettable-frontend/src/components/PersonCard/__tests__/PersonCard.test.js
  forgettable-frontend/src/components/PersonCard/__tests__/__snapshots__/PersonCard.test.js.snap
  forgettable-frontend/src/functions/dateFormatter.js
Labels: feature, frontend, component

#115 Update EncounterCard Component to include propTypes, custom avatar URLs and more Tests
  forgettable-frontend/package-lock.json
  forgettable-frontend/src/components/EncounterCard/EncounterCard.css
  forgettable-frontend/src/components/EncounterCard/EncounterCard.js
  forgettable-frontend/src/components/EncounterCard/EncounterCard.module.css
  forgettable-frontend/src/components/EncounterCard/__test__/EncounterCard.test.js
  forgettable-frontend/src/components/EncounterCard/__test__/__snapshots__/EncounterCard.test.js.snap
  forgettable-frontend/src/functions/dateFormatter.js
  forgettable-frontend/src/functions/helper.js
Labels: enhancement, frontend, component

#113 Account for navbar space + start of home page
  forgettable-frontend/src/App.css
  forgettable-frontend/src/App.tsx
  forgettable-frontend/src/Components/SearchBar/SearchBar.js
  forgettable-frontend/src/Components/SearchBar/SearchBar.module.css
  forgettable-frontend/src/index.css
  forgettable-frontend/src/index.tsx
  forgettable-frontend/src/pages/home/App.js
  forgettable-frontend/src/pages/home/App.module.css
Labels: frontend

#120 Add extra fields to Person model
  backend/src/models/person.model.ts
Labels: backend, api, database

#123 Added Firebase Authorization to middleware
  backend/src/index.ts
  backend/src/server.ts
  backend/src/utils/middleware.ts
Labels: feature, backend, authentication

#124 Implemented userService.getUserByAuthId()
  backend/src/services/user.service.ts
Labels: feature, backend

#131 Implement GET persons/:id endpoint
  backend/src/controllers/person.controller.ts
  backend/src/routes/person.route.ts
  backend/src/services/person.service.ts
Labels: backend, api

#127 Implement POST /users endpoint
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/user.controller.ts
  backend/src/routes/__test__/person.route.test.ts
  backend/src/routes/__test__/user.route.test.ts
  backend/src/services/__test__/user.service.unit.test.ts
  backend/src/services/user.service.ts
Labels: feature, backend, api

#129 Add auth and query params to GET persons/
  backend/.gitignore
  backend/src/controllers/person.controller.ts
  backend/src/services/person.service.ts
Labels: backend, api

#135 Add encounter `title` to model
  backend/src/models/encounter.model.ts
Labels: backend, api, database

#112 Docs add code of conduct and contributing files
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: documentation

#101 Encounter Card Summary (issue #53)
  forgettable-frontend/forgettable-frontend - Shortcut.lnk
  forgettable-frontend/package-lock.json
  forgettable-frontend/src/App.tsx
  forgettable-frontend/src/components/EncounterCardSummary/EncounterSummary.module.css
  forgettable-frontend/src/components/EncounterCardSummary/EncounterSummary.test.js
  forgettable-frontend/src/components/EncounterCardSummary/EncounterSummary.tsx
  forgettable-frontend/src/pages/home/App.js
  package-lock.json
Labels: component

#96 Added Modal Component
  forgettable-frontend/package-lock.json
  forgettable-frontend/src/components/CustomModal/CustomModal.js
  forgettable-frontend/src/components/CustomModal/CustomModal.module.css
  forgettable-frontend/src/components/CustomModal/__test__/CustomModal.test.js
  forgettable-frontend/src/components/CustomModal/__test__/__snapshots__/CustomModal.test.js.snap
Labels: frontend, component

#144 Encounter detail modal component
  forgettable-frontend/src/Components/EncounterDrawer/__tests__/__snapshots__/EncounterDrawer.test.js.snap
  forgettable-frontend/src/components/CustomModal/CustomModal.module.css
  forgettable-frontend/src/components/EncounterDetailsModal/EncounterDetailsModal.js
  forgettable-frontend/src/components/EncounterDetailsModal/EncounterDetailsModal.module.css
  forgettable-frontend/src/components/EncounterDetailsModal/__test__/EncounterDetailsModal.test.js
  forgettable-frontend/src/components/EncounterDetailsModal/__test__/__snapshots__/EncounterDetailsModal.test.js.snap
  forgettable-frontend/src/pages/home/App.js
Labels: frontend, component

#142 Implemented GET /encounters with auth
  backend/src/controllers/encounter.controller.ts
  backend/src/routes/__test__/user.route.test.ts
  backend/src/routes/encounter.route.ts
  backend/src/services/encounter.service.ts
Labels: backend, api

#145 Added No Autocomplete version of searchbar
  forgettable-frontend/src/Components/SearchBar/SearchBar.js
  forgettable-frontend/src/pages/home/App.js
Labels: feature, frontend

#148 Implemented POST /encounter endpoint
  backend/src/controllers/encounter.controller.ts
  backend/src/controllers/user.controller.ts
  backend/src/routes/__test__/encounter.route.test.ts
  backend/src/services/__test__/encounter.service.unit.test.ts
  backend/src/services/__test__/person.service.unit.test.ts
  backend/src/services/__test__/user.service.unit.test.ts
  backend/src/services/encounter.service.ts
  backend/src/services/person.service.ts
  backend/src/services/user.service.ts
Labels: feature, backend, api

#128 Implemented get encounter endpoint with auth
  backend/src/controllers/encounter.controller.ts
  backend/src/routes/encounter.route.ts
  backend/src/services/encounter.service.ts
Labels: backend, api

#162 Add `time_updated` to `encounter` model
  backend/src/controllers/encounter.controller.ts
  backend/src/models/encounter.model.ts
  backend/src/models/person.model.ts
  backend/src/routes/__test__/encounter.route.test.ts
  backend/src/services/__test__/encounter.service.unit.test.ts
Labels: backend

#160 Split `full_name` into first and last name
  backend/src/models/person.model.ts
  backend/src/routes/__test__/encounter.route.test.ts
  backend/src/routes/__test__/person.route.test.ts
  backend/src/routes/__test__/user.route.test.ts
  backend/src/services/__test__/person.service.unit.test.ts
Labels: backend

#169 Add auth to POST persons/
  backend/src/controllers/person.controller.ts
  backend/src/services/user.service.ts
Labels: backend, api

#175 Avatar collection component
  forgettable-frontend/package-lock.json
  forgettable-frontend/src/Components/EncounterDrawer/EncounterDrawer.js
  forgettable-frontend/src/Components/EncounterDrawer/__tests__/__snapshots__/EncounterDrawer.test.js.snap
  forgettable-frontend/src/Components/PersonDrawer/__tests__/__snapshots__/PersonDrawer.test.js.snap
  forgettable-frontend/src/components/CustomAvatarCollection/CustomAvatarCollection.js
  forgettable-frontend/src/components/CustomAvatarCollection/CustomAvatarCollection.module.css
  forgettable-frontend/src/components/CustomAvatarCollection/__test__/CustomAvatarCollection.test.js
  forgettable-frontend/src/components/CustomAvatarCollection/__test__/__snapshots__/CustomAvatarCollection.test.js.snap
  forgettable-frontend/src/components/EncounterCard/__test__/__snapshots__/EncounterCard.test.js.snap
  forgettable-frontend/src/components/EncounterDetailsModal/EncounterDetailsModal.js
  forgettable-frontend/src/components/EncounterDetailsModal/__test__/__snapshots__/EncounterDetailsModal.test.js.snap
Labels: frontend, component

#176 Search Bar Reformat
  forgettable-frontend/src/Components/SearchBar/SearchBar.js
  forgettable-frontend/src/pages/home/App.js
Labels: feature, frontend

#182 Created Persons page
  forgettable-frontend/src/components/CustomModal/__test__/CustomModal.test.js
  forgettable-frontend/src/index.tsx
  forgettable-frontend/src/pages/PersonPage/PersonPage.js
  forgettable-frontend/src/pages/Persons/Persons.js
  forgettable-frontend/src/pages/Persons/Persons.module.css
  forgettable-frontend/src/pages/encounters/encounters.js
  forgettable-frontend/src/pages/home/App.js
  forgettable-frontend/src/pages/people/people.js
Labels: frontend, frontend-page

#168 Replace query params of GET persons/ with 'term'
  backend/src/controllers/encounter.controller.ts
  backend/src/controllers/person.controller.ts
  backend/src/services/person.service.ts
Labels: backend, api

#138 Added DELETE encounters endpoint
  backend/src/controllers/encounter.controller.ts
  backend/src/routes/encounter.route.ts
  backend/src/services/encounter.service.ts
  backend/src/services/person.service.ts
  backend/src/services/user.service.ts
Labels: feature, backend, api

#187 Fixing import name: change Components to components
  forgettable-frontend/src/functions/dateFormatter.js
  forgettable-frontend/src/index.tsx
  forgettable-frontend/src/pages/PersonPage/PersonPage.js
  forgettable-frontend/src/pages/Persons/Persons.js
  forgettable-frontend/src/pages/encounters/encounters.js
  forgettable-frontend/src/pages/home/App.js
Labels: frontend

#199 Front end auth updates
  forgettable-frontend/src/App.js
  forgettable-frontend/src/App.tsx
  forgettable-frontend/src/Data.json
  forgettable-frontend/src/components/EncounterCardSummary/EncounterSummary.tsx
  forgettable-frontend/src/components/IconButton/IconButton.js
  forgettable-frontend/src/firebase.js
  forgettable-frontend/src/index.tsx
  forgettable-frontend/src/pages/SignInPage/SignInPage.js
  forgettable-frontend/src/pages/home/Home.js
  forgettable-frontend/src/pages/home/Home.module.css
Labels: frontend

#195 Added query params to GET /encounters endpoint
  backend/src/controllers/encounter.controller.ts
  backend/src/services/encounter.service.ts
Labels: backend, api

#194 Bug fixes to delete persons endpoint
  backend/src/controllers/person.controller.ts
  backend/src/services/encounter.service.ts
  backend/src/services/person.service.ts
  backend/src/services/user.service.ts
Labels: bug, backend, api

#197 Create Input Field Component
  forgettable-frontend/src/components/InputField/InputField.js
  forgettable-frontend/src/components/InputField/InputField.module.css
  forgettable-frontend/src/components/InputField/__tests__/InputField.test.js
  forgettable-frontend/src/components/InputField/__tests__/__snapshots__/InputField.test.js.snap
Labels: feature, frontend, component

#178 GET persons/:id tests
  backend/src/routes/__test__/person.route.test.ts
  backend/src/services/__test__/person.service.unit.test.ts
Labels: backend, api, testing

#216 Embedded person details in encounters returned by `GET /encounters`
  backend/src/controllers/encounter.controller.ts
Labels: backend, api

#204 Create user on sign in and set the token in local state
  forgettable-frontend/package-lock.json
  forgettable-frontend/package.json
  forgettable-frontend/src/functions/searchBarDataFormatter.js
  forgettable-frontend/src/pages/SignInPage/SignInPage.js
  forgettable-frontend/src/pages/home/Home.js
  forgettable-frontend/src/services/index.js
Labels: frontend

#221 Added integration tests for `GET /encounters` route
  backend/src/routes/__test__/encounter.route.test.ts
  backend/src/routes/__test__/person.route.test.ts
Labels: backend, api, testing

#227 Add POST persons/ tests
  backend/src/routes/__test__/person.route.test.ts
  backend/src/services/__test__/person.service.unit.test.ts
Labels: backend, api, testing

#226 Created Readme for Frontend
  .gitignore
  README.md
  forgettable-frontend/README.md
Labels: documentation

#231 Moved DELETE persons/:id tests to persons.route.test
  backend/src/routes/__test__/encounter.route.test.ts
  backend/src/routes/__test__/person.route.test.ts
Labels: backend, testing

#235 Update main repo README
  README.md
Labels: documentation

#241 Added unit tests for getAllEncounters() service
  backend/src/services/__test__/encounter.service.unit.test.ts
Labels: backend, api, testing

#244 Person card update: Fix a number of bugs
  forgettable-frontend/src/components/PersonCard/PersonCard.css
  forgettable-frontend/src/components/PersonCard/PersonCard.js
  forgettable-frontend/src/components/PersonCard/PersonCard.module.css
  forgettable-frontend/src/components/PersonCard/__tests__/__snapshots__/PersonCard.test.js.snap
Labels: bug, feature, frontend, component

#201 Create settings page
  forgettable-frontend/src/pages/SettingsPage/DarkMode.css
  forgettable-frontend/src/pages/SettingsPage/DarkMode.tsx
  forgettable-frontend/src/pages/SettingsPage/SettingsPage.js
  forgettable-frontend/src/pages/SettingsPage/SettingsPage.module.css
  forgettable-frontend/src/pages/settings/settings.js
Labels: feature, frontend, frontend-page

#183 Create edit person page
  forgettable-frontend/package-lock.json
  forgettable-frontend/package.json
  forgettable-frontend/src/App.js
  forgettable-frontend/src/colours.css
  forgettable-frontend/src/components/InputField/InputField.module.css
  forgettable-frontend/src/index.tsx
  forgettable-frontend/src/pages/edit/EditPerson.js
  forgettable-frontend/src/pages/edit/EditPerson.module.css
  forgettable-frontend/src/pages/edit/__tests__/EditPerson.test.js
  forgettable-frontend/src/pages/edit/__tests__/__snapshots__/EditPerson.test.js.snap
Labels: feature, frontend, frontend-page

#257 Fix import errors for the Settings page
  forgettable-frontend/src/App.js
  forgettable-frontend/src/pages/SettingsPage/SettingsPage.js
Labels: bug, frontend

#236 Signin page is responsive
  forgettable-frontend/src/pages/SignInPage/SignInPage.js
  forgettable-frontend/src/pages/SignInPage/SignInPage.module.css
Labels: frontend, frontend-page

#200 Implement API pagination
  backend/src/controllers/encounter.controller.ts
  backend/src/controllers/person.controller.ts
  backend/src/routes/__test__/encounter.route.test.ts
  backend/src/routes/__test__/person.route.test.ts
  backend/src/routes/__test__/user.route.test.ts
  backend/src/server.ts
  backend/src/utils/middleware.ts
  backend/src/utils/paginateable.response.ts
Labels: feature, backend, api

#255 Person page improvement (Routing, modals, deletion API, new API update)
  forgettable-frontend/package-lock.json
  forgettable-frontend/package.json
  forgettable-frontend/src/components/CustomButton/CustomButton.js
  forgettable-frontend/src/components/EncounterDrawer/EncounterDrawer.js
  forgettable-frontend/src/components/PersonDrawer/PersonDrawer.js
  forgettable-frontend/src/functions/convertSocialMediaFormat.js
  forgettable-frontend/src/pages/PersonPage/PersonPage.js
  forgettable-frontend/src/pages/PersonPage/PersonPage.module.css
  forgettable-frontend/src/pages/PersonPage/__test__/PersonPage.test.js
  forgettable-frontend/src/pages/PersonPage/__test__/PlaceholderData.test.js
  forgettable-frontend/src/pages/PersonPage/__test__/__snapshots__/PersonPage.test.js.snap
  forgettable-frontend/src/pages/PersonPage/__test__/__snapshots__/PlaceholderData.test.js.snap
Labels: bug, enhancement, feature, frontend, api, component, frontend-page

#258 Sign out functionality
  forgettable-frontend/src/App.js
  forgettable-frontend/src/pages/SettingsPage/SettingsPage.js
  forgettable-frontend/src/pages/SettingsPage/SettingsPage.module.css
Labels: frontend, frontend-page

#256 Change HTTP Status Codes to match documentation
  backend/src/controllers/encounter.controller.ts
  backend/src/controllers/person.controller.ts
Labels: backend, api

#260 Encounters card update: fixes onclick propagation, props requirements, unknown default value
  forgettable-frontend/package-lock.json
  forgettable-frontend/src/components/EncounterCard/EncounterCard.js
Labels: frontend, component

#261 Avatar components update
  forgettable-frontend/src/components/CustomAvatar/CustomAvatar.js
  forgettable-frontend/src/components/CustomAvatarCollection/CustomAvatarCollection.js
Labels: frontend, component

#266 Persons list page (Logic, API calls, Routing, Pagination, Modals)
  forgettable-frontend/src/pages/Persons/Persons.js
  forgettable-frontend/src/pages/PersonsListPage/PersonsListPage.js
  forgettable-frontend/src/pages/PersonsListPage/PersonsListPage.module.css
  forgettable-frontend/src/services/index.js
Labels: frontend, frontend-page

#265 SearchBar component update
  backend/package-lock.json
  forgettable-frontend/package-lock.json
  forgettable-frontend/package.json
  forgettable-frontend/src/components/SearchBar/SearchBar.js
  forgettable-frontend/src/components/SearchBar/SearchBar.module.css
  forgettable-frontend/src/pages/encounters/encounters.js
Labels: frontend, component

#269 Date formatter cleanup + tests
  forgettable-frontend/src/components/EncounterCard/EncounterCard.js
  forgettable-frontend/src/components/EncounterCardSummary/EncounterSummary.tsx
  forgettable-frontend/src/components/EncounterDetailsModal/EncounterDetailsModal.js
  forgettable-frontend/src/components/EncounterDrawer/EncounterDrawer.js
  forgettable-frontend/src/components/PersonCard/PersonCard.js
  forgettable-frontend/src/components/PersonDrawer/PersonDrawer.js
  forgettable-frontend/src/functions/__tests__/dateFormatter.test.js
  forgettable-frontend/src/functions/dateFormatter.js
  forgettable-frontend/src/pages/PersonsListPage/PersonsListPage.js
  forgettable-frontend/src/pages/encounters/encounters.js
Labels: bug, enhancement, frontend

#267 Encounters list page: API logics, search, delete modal, infinite scroll with pagination
  forgettable-frontend/package-lock.json
  forgettable-frontend/package.json
  forgettable-frontend/src/App.js
  forgettable-frontend/src/components/CustomAvatar/CustomAvatar.module.css
  forgettable-frontend/src/components/EncounterCard/EncounterCard.js
  forgettable-frontend/src/pages/EncountersListPage/EncountersListPage.js
  forgettable-frontend/src/pages/EncountersListPage/EncountersListPage.module.css
  forgettable-frontend/src/pages/EncountersListPage/__test__/EncountersListPage.test.js
  forgettable-frontend/src/pages/EncountersListPage/__test__/__snapshots__/EncountersListPage.test.js.snap
  forgettable-frontend/src/pages/PersonsListPage/PersonsListPage.js
  forgettable-frontend/src/pages/encounters/encounters.js
  forgettable-frontend/src/services/index.js
Labels: frontend, frontend-page

#272 Fix EncounterCardSummary component (UI, Logic, Tests)
  forgettable-frontend/src/components/EncounterCardSummary/EncounterCardSummary.js
  forgettable-frontend/src/components/EncounterCardSummary/EncounterCardSummary.module.css
  forgettable-frontend/src/components/EncounterCardSummary/EncounterSummary.module.css
  forgettable-frontend/src/components/EncounterCardSummary/EncounterSummary.test.js
  forgettable-frontend/src/components/EncounterCardSummary/EncounterSummary.tsx
  forgettable-frontend/src/components/EncounterCardSummary/__tests__/EncounterCardSummary.test.js
  forgettable-frontend/src/components/EncounterCardSummary/__tests__/__snapshots__/EncounterCardSummary.test.js.snap
  forgettable-frontend/src/pages/home/Home.js
Labels: bug, enhancement, frontend, component

#203 GET encounters/:id tests
  backend/src/routes/__test__/encounter.route.test.ts
  backend/src/services/__test__/encounter.service.unit.test.ts
Labels: backend, api, testing

#274 Update create/edit person page
  forgettable-frontend/src/components/CustomButton/CustomButton.js
  forgettable-frontend/src/components/CustomButton/CustomButton.module.css
  forgettable-frontend/src/components/InputField/InputField.js
  forgettable-frontend/src/components/InputField/InputField.module.css
  forgettable-frontend/src/functions/dateFormatter.js
  forgettable-frontend/src/functions/helper.js
  forgettable-frontend/src/pages/EncountersListPage/EncountersListPage.js
  forgettable-frontend/src/pages/PersonPage/PersonPage.js
  forgettable-frontend/src/pages/PersonsListPage/PersonsListPage.js
  forgettable-frontend/src/pages/edit/EditPerson.js
  forgettable-frontend/src/pages/edit/EditPerson.module.css
Labels: frontend, frontend-page

#279 Create Encounter Page
  forgettable-frontend/src/App.js
  forgettable-frontend/src/components/EncounterCard/EncounterCard.js
  forgettable-frontend/src/pages/CreateEncounterPage/CreateEncounterPage.js
  forgettable-frontend/src/pages/CreateEncounterPage/CreateEncounterPage.module.css
  forgettable-frontend/src/pages/home/Home.js
Labels: frontend, frontend-page

#273 Fix images not displaying throughout app
  forgettable-frontend/src/components/CustomAvatar/CustomAvatar.js
  forgettable-frontend/src/components/CustomAvatarCollection/CustomAvatarCollection.js
  forgettable-frontend/src/components/CustomAvatarCollection/__test__/__snapshots__/CustomAvatarCollection.test.js.snap
  forgettable-frontend/src/components/EncounterCard/__test__/__snapshots__/EncounterCard.test.js.snap
  forgettable-frontend/src/components/EncounterCardSummary/EncounterCardSummary.js
  forgettable-frontend/src/components/EncounterCardSummary/__tests__/__snapshots__/EncounterCardSummary.test.js.snap
  forgettable-frontend/src/components/EncounterDetailsModal/__test__/__snapshots__/EncounterDetailsModal.test.js.snap
  forgettable-frontend/src/components/EncounterDrawer/EncounterDrawer.js
  forgettable-frontend/src/components/PersonCard/PersonCard.js
  forgettable-frontend/src/components/PersonCard/__tests__/__snapshots__/PersonCard.test.js.snap
  forgettable-frontend/src/components/PersonCardSummary/PersonCardSummary.js
  forgettable-frontend/src/components/PersonDrawer/PersonDrawer.js
  forgettable-frontend/src/components/PersonDrawer/__tests__/__snapshots__/PersonDrawer.test.js.snap
  forgettable-frontend/src/functions/getImageSrcFromBuffer.js
  forgettable-frontend/src/pages/PersonPage/PersonPage.js
  forgettable-frontend/src/pages/PersonPage/__test__/__snapshots__/PersonPage.test.js.snap
  forgettable-frontend/src/pages/PersonsListPage/PersonsListPage.js
  forgettable-frontend/src/pages/home/Home.js
Labels: bug, frontend

#278 Auth logic + routing revamp (Token invalidation handling, session maintenance, etc)
  forgettable-frontend/src/App.js
  forgettable-frontend/src/context/AuthContext.js
  forgettable-frontend/src/firebase.js
  forgettable-frontend/src/functions/tryCreateUser.js
  forgettable-frontend/src/hoc/PageRouter/PageRouter.js
  forgettable-frontend/src/hoc/PageRouter/PageRouter.module.css
  forgettable-frontend/src/index.css
  forgettable-frontend/src/index.tsx
  forgettable-frontend/src/pages/LogInPage/LogInPage.js
  forgettable-frontend/src/pages/LogInPage/LogInPage.module.css
  forgettable-frontend/src/pages/SettingsPage/SettingsPage.js
  forgettable-frontend/src/pages/SignInPage/SignInPage.js
  forgettable-frontend/src/pages/SignInPage/SignInPage.module.css
  forgettable-frontend/src/services/auth.js
  forgettable-frontend/src/services/functions/helpers.js
Labels: bug, enhancement, feature, frontend, authentication, component

#283 Update favicon to logo
  forgettable-frontend/package-lock.json
  forgettable-frontend/public/favicon.ico
  forgettable-frontend/public/logo192.png
  forgettable-frontend/public/logo512.png
Labels: frontend

#284 Minor fixes: Fix routes, fix POST, PUT, DELETE requests not working
  forgettable-frontend/src/hoc/PageRouter/PageRouter.js
  forgettable-frontend/src/pages/PersonsListPage/PersonsListPage.js
  forgettable-frontend/src/pages/home/Home.js
  forgettable-frontend/src/services/functions/helpers.js
Labels: bug, frontend, api

#214 Make changes in PUT and DELETE endpoints for encounters and persons for proper Algolia sync
  backend/package-lock.json
  backend/package.json
  backend/src/services/encounter.service.ts
  backend/src/services/person.service.ts
Labels: backend

#202 Integrate algolia for get /persons
  backend/package-lock.json
  backend/package.json
  backend/src/models/person.model.ts
  backend/src/services/person.service.ts
Labels: backend

#298 Fix page routing redirection on refresh and add 404 page
  forgettable-frontend/src/App.js
  forgettable-frontend/src/hoc/PageRouter/PageRouter.js
  forgettable-frontend/src/index.tsx
  forgettable-frontend/src/pages/NotFound/NotFound.js
  forgettable-frontend/src/pages/NotFound/NotFound.module.css
  forgettable-frontend/src/pages/NotFound/__tests__/NotFound.test.js
  forgettable-frontend/src/pages/NotFound/__tests__/__snapshots__/NotFound.test.js.snap
Labels: bug, enhancement, feature, frontend, frontend-page

#297 Fix routing on edit person page
  backend/package-lock.json
  forgettable-frontend/src/pages/edit/EditPerson.js
Labels: bug, frontend

#305 Fix frontend bugs
  forgettable-frontend/src/components/CustomModal/CustomModal.module.css
  forgettable-frontend/src/components/EncounterDetailsModal/EncounterDetailsModal.module.css
  forgettable-frontend/src/components/EncounterDrawer/EncounterDrawer.js
  forgettable-frontend/src/components/EncounterDrawer/EncounterDrawer.module.css
  forgettable-frontend/src/components/InputField/InputField.module.css
  forgettable-frontend/src/components/NavBar/NavBar.js
  forgettable-frontend/src/components/PersonDrawer/PersonDrawer.js
  forgettable-frontend/src/components/PersonDrawer/PersonDrawer.module.css
  forgettable-frontend/src/components/SearchBar/SearchBar.js
  forgettable-frontend/src/components/SearchBar/SearchBar.module.css
  forgettable-frontend/src/pages/EncountersListPage/EncountersListPage.js
  forgettable-frontend/src/pages/PersonsListPage/PersonsListPage.module.css
  forgettable-frontend/src/pages/home/Home.js
  forgettable-frontend/src/pages/home/Home.module.css
Labels: bug, enhancement, frontend

#303 Handle overflow of strings in smaller components
  forgettable-frontend/src/components/EncounterCard/EncounterCard.js
  forgettable-frontend/src/components/EncounterCard/EncounterCard.module.css
  forgettable-frontend/src/components/EncounterCardSummary/EncounterCardSummary.module.css
  forgettable-frontend/src/components/PersonCard/PersonCard.js
  forgettable-frontend/src/components/PersonCard/PersonCard.module.css
  forgettable-frontend/src/components/PersonCardSummary/PersonCardSummary.module.css
Labels: bug, enhancement, frontend

#309 Fix all CSS in codebase using magic numbers -> global vars
  forgettable-frontend/src/components/CustomAvatarCollection/CustomAvatarCollection.module.css
  forgettable-frontend/src/components/CustomButton/CustomButton.module.css
  forgettable-frontend/src/components/CustomModal/CustomModal.module.css
  forgettable-frontend/src/components/EncounterCard/EncounterCard.module.css
  forgettable-frontend/src/components/EncounterCardSummary/EncounterCardSummary.module.css
  forgettable-frontend/src/components/EncounterDetailsModal/EncounterDetailsModal.module.css
  forgettable-frontend/src/components/EncounterDrawer/EncounterDrawer.module.css
  forgettable-frontend/src/components/PersonCard/PersonCard.module.css
  forgettable-frontend/src/components/PersonCardSummary/PersonCardSummary.module.css
  forgettable-frontend/src/components/PersonDrawer/PersonDrawer.module.css
  forgettable-frontend/src/functions/getImageSrcFromBuffer.js
  forgettable-frontend/src/pages/EncountersListPage/EncountersListPage.module.css
  forgettable-frontend/src/pages/Loading/Loading.js
  forgettable-frontend/src/pages/LogInPage/LogInPage.module.css
  forgettable-frontend/src/pages/PersonPage/PersonPage.module.css
  forgettable-frontend/src/pages/PersonsListPage/PersonsListPage.module.css
  forgettable-frontend/src/pages/SettingsPage/DarkMode.css
  forgettable-frontend/src/pages/SettingsPage/SettingsPage.module.css
  forgettable-frontend/src/pages/edit/EditPerson.module.css
  forgettable-frontend/src/pages/home/Home.js
Labels: bug, enhancement, frontend

#310 Fix more frontend bugs
  forgettable-frontend/package-lock.json
  forgettable-frontend/package.json
  forgettable-frontend/src/components/PersonDrawer/PersonDrawer.js
  forgettable-frontend/src/components/PersonDrawer/PersonDrawer.module.css
  forgettable-frontend/src/pages/CreateEncounterPage/CreateEncounterPage.js
Labels: bug, enhancement, frontend

#313 Add loading screens for addding/editing persons and encounters
  forgettable-frontend/src/App.js
  forgettable-frontend/src/pages/CreateEncounterPage/CreateEncounterPage.js
  forgettable-frontend/src/pages/EncountersListPage/EncountersListPage.js
  forgettable-frontend/src/pages/edit/EditPerson.js
Labels: enhancement, feature, frontend

#316 Bugfix - Undo algolia changes
  backend/.eslintrc.json
  backend/package-lock.json
  backend/src/models/encounter.model.ts
  backend/src/models/person.model.ts
  backend/src/services/encounter.service.ts
  backend/src/services/person.service.ts
Labels: bug, backend, api

#330 [#229] Birthday reminders for Persons on your list
  backend/src/controllers/person.controller.ts
  backend/src/routes/__test__/person.route.test.ts
  backend/src/routes/birthday.route.ts
  backend/src/routes/index.ts
  backend/src/services/person.service.ts
Labels: team-1

#334 Delete modal changes
  backend/package-lock.json
  forgettable-frontend/package-lock.json
  forgettable-frontend/src/components/CustomButton/CustomButton.js
  forgettable-frontend/src/components/CustomModal/CustomModal.js
  forgettable-frontend/src/components/CustomModal/CustomModal.module.css
  forgettable-frontend/src/pages/PersonsListPage/PersonsListPage.js
  forgettable-frontend/src/pages/edit/EditPerson.js
Labels: frontend, team-2

#338 Add visual map of entries #246
  backend/src/controllers/encounter.controller.ts
  backend/src/models/encounter.model.ts
  forgettable-frontend/package.json
  forgettable-frontend/src/App.js
  forgettable-frontend/src/components/AutocompleteLocationInput/AutocompleteLocationInput.js
  forgettable-frontend/src/components/EncountersMap/EncountersMap.js
  forgettable-frontend/src/google-api-config.js
  forgettable-frontend/src/pages/CreateEncounterPage/CreateEncounterPage.js
  forgettable-frontend/src/pages/EncountersListPage/EncountersListPage.js
Labels: backend, frontend, api, team-4

#341 [#233] Goal setting for users
  backend/src/controllers/goal.controller.ts
  backend/src/models/goal.model.ts
  backend/src/models/user.model.ts
  backend/src/routes/__test__/company.route.test.ts
  backend/src/routes/__test__/encounter.route.test.ts
  backend/src/routes/__test__/goal.route.test.ts
  backend/src/routes/__test__/person.route.test.ts
  backend/src/routes/goal.route.ts
  backend/src/routes/index.ts
  backend/src/services/__test__/encounter.service.unit.test.ts
  backend/src/services/__test__/goal.service.unit.test.ts
  backend/src/services/__test__/user.service.unit.test.ts
  backend/src/services/goal.service.ts
  backend/src/services/user.service.ts
Labels: backend, team-1

#340 [#223] - Add in Search Filter Implementation
  backend/src/services/encounter.service.ts
  backend/src/services/person.service.ts
  forgettable-frontend/package-lock.json
  forgettable-frontend/src/components/SearchBar/SearchBar.js
  forgettable-frontend/src/components/SearchBar/SearchBar.module.css
  forgettable-frontend/src/components/SearchFilterModal/SearchFilterModal.js
  forgettable-frontend/src/components/SearchFilterModal/SearchFilterModal.module.css
  forgettable-frontend/src/pages/EncountersListPage/EncountersListPage.js
  forgettable-frontend/src/pages/PersonsListPage/PersonsListPage.js
  forgettable-frontend/src/pages/home/Home.js
  forgettable-frontend/src/services/index.js
Labels: backend, frontend
